@using MvcPaging;

@model IPagedList<AGVCenterLib.Data.UniqueItem>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
           BoxTypeId
        </th>
        <th>
           PartNr
        </th>
        <th>
           KNr
        </th>
        <th>
           KNrWithYear
        </th>
        <th>
           CheckCode
        </th>
        <th>
           KskNr
        </th>
        <th>
           QR
        </th>
        <th>
           State
        </th>
        <th>
           CreatedAt
        </th>
        <th>
           UpdatedAt
        </th>
        <th>
           IsCanInStockState
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoxTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PartNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KNrWithYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CheckCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KskNr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsCanInStockState)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Nr }) |
            @Html.ActionLink("Details", "Details", new { id=item.Nr }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Nr })
        </td>
    </tr>
}

</table>




<div class="col-sm-12" style="text-align:center;">
    <div class="clearfix pagination">
        <div class="pagination-inner">
            @if (Model != null)
            {
                if (ViewBag.Query != null)
                {
                    var html = Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                        .Options(o => o.AddRouteValue("Nr", ViewBag.Query.Nr));
                    @html
                }
                else
                {
                    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount)
                }
            }
        </div>
    </div>
</div>